@mixin alignItemsCenter {
  display: flex;
  align-items: center;
}

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$font-font-size-big: 18px;
$font-font-size-small: 12px;
$logo-font-size: 24px;
$base-text-color: #262626;
$secondary-text-color: #999999;
$link-button-color: #1a74ff;
$background-color: #f5f5f5;
$team-a-background-color: #b3d1ff;
$team-a-text-color: #0047b3;
$team-b-background-color: #ffd6c8;
$team-b-text-color: #c83300;
$team-c-background-color: #a6fcc8;
$team-c-text-color: #059e42;
$unspecified-phone-media-font-size-big: 18px;
$unspecified-phone-media-font-size-medium: 16px;
$unspecified-phone-media-font-size-small: 12px;
$notification-error: #690000;
$notification-fulfilled: #1ad1b9;
