@import '../../styles//view-port.scss';
@import '../../styles/shared-variables.module.scss';

@mixin badge-style {
  font-size: $font-font-size-small;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  margin-right: 10px;
}

@mixin user-card-flex-style {
  display: flex;
  flex-direction: row;
}

.user-details-card-top {
  @include user-card-flex-style;
  margin: 15px 0 30px 0;
  &-description {
    &-header {
      &-3 {
        @include alignItemsCenter;
        font-size: $logo-font-size;
        height: $logo-font-size;
        margin: 0 0 6px;
        font-weight: 200;
        @include respond(tab-port) {
          font-size: $unspecified-phone-media-font-size-big;
        }
      }
    }
    &-rank {
      @include alignItemsCenter;
      height: 22px;
      margin: 6px 0 24px 0;
    }
  }
}
.user-card-top {
  @include user-card-flex-style;
  padding: 20px;
  @include respond(tab-port) {
    padding: 10px; // zmienilem narzucony padding, poniewaz napisy sie rozjezdzaly
  }
  &-description {
    margin: 0;
    &-login {
      height: 18px;
      font-size: 18px;
      margin: 0;
      @include alignItemsCenter;
      @include respond(tab-port) {
        font-size: $unspecified-phone-media-font-size-medium;
      }
      @include respond(phone) {
        font-size: $unspecified-phone-media-font-size-medium;
      }
    }
    &-rank {
      @include alignItemsCenter;
      height: 22px;
      margin: 6px 0 12px 0;
      &-badge {
        &-a {
          @include badge-style;
          background-color: $team-a-background-color;
          color: $team-a-text-color;
        }
        &-b {
          @include badge-style;
          background-color: $team-b-background-color;
          color: $team-b-text-color;
        }
        &-c {
          @include badge-style;
          background-color: $team-c-background-color;
          color: $team-c-text-color;
        }
      }
      &-id {
        display: inline-block;
        font-size: $font-font-size-small;
        color: $secondary-text-color;
        margin: 0;
      }
    }
    &-image {
      height: 12px;
      margin: 0 2px 0 1px;
    }
    &-page {
      cursor: pointer;
      text-decoration: none;
      color: $secondary-text-color;
      font-size: $font-font-size-small;
    }
  }
}
